body{
padding: 0;
margin: 0;
}

.container{
  z-index:1;
  position: fixed;
  height: 100vh;
  width: 100%;
  top:0;
  background-repeat: no-repeat;
  background-image: url("../Images/Bitmap.png");
  background-size: cover;
}

nav{
  z-index:2;
  padding: 0;
  margin:0;
  min-width: 180px;
  background-color: white;
  position:absolute;
  height: 100vh;
  width:11vw;
  transform:translate(88.3vw,0%);
}
.emblem{
  width: 11vw;
  height: 11vh;
  min-width: 180px;
  min-height: 180px;
  background-image: url("../Images/logo.svg");
  background-position:top;
  background-color: #272125;
}

nav ul {
  transform: translate(0,-6vh);
  list-style-type: none;
  margin-top: 5vh;
  margin-bottom: 10vh;
  padding: 0;
  text-align: center;
}

nav li > a{
  color: #272125;
  text-decoration: none;
  text-transform:  uppercase;
}

nav  li {

  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  padding-top: 5vh;
}
.active{
  color: #EC2D6D
}

.counter h1
{
  transform: translate(0,-11vh);
  color: #272125;
  font-family: BebasNeueBold;
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.counter p{
  transform: translate(0,-12vh);
  color: #272125;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.media ul{
transform: translate(0,-8vh);
border-top: 1px solid #7a7d80;
border-bottom: 1px solid #7a7d80;
padding: 0;
margin:2vh;
}

  .media li{

  display: inline-block;
  margin:0;
  padding: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3vh;
}

 .media li:last-child{
  padding-right: 0;
}

footer{
  transform: translate(0,-4vh);
  color: #272125;
   font-family: Lato;
   font-size: 12px;
   font-weight: 700;
   line-height: 20px;
   text-align: center;
}
footer a {
  color: #EC2D6D;
  text-decoration: none;
}

.icon{

  z-index: -2;
  position: absolute;
  margin:0;
  background-color: #1B509F;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  border-left: 0;
  width: 45px;
  height: 90px;
  transform: translate(-1px,calc(6.5vh + 17px));
}
.icon img {
  transform: translate(-1vw, 4vh);
}

.speech_bubble{
  position: absolute;
  width:556px;
  height:400px;
  background-color: white;
  transform: translate(200px,0px);
  -webkit-clip-path: polygon(100% 0, 0 16%, 14% 78%, 81% 89%, 89% 100%);
  clip-path: polygon(100% 0, 0 16%, 14% 78%, 81% 89%, 89% 100%);
}

.rectangle_3{
  z-index: 1;
  position: absolute;
  background-color: #272125;
  width: 460px;
  height: 88px;
  transform: translate(210px,160px);
}

.hello{
  z-index: 2;
  position: absolute;
  font-family: BebasNeueBold;
  color: #272125;
  font-size: 90px;
 font-weight: 700;
 line-height: 75px;
 text-align: center;
 transform: translate(250px,65px);
}
.date{
  z-index: 2;
  position: absolute;
  color: #DEDEE0;
 font-family: BebasNeueBold;
 font-size: 90px;
 font-weight: 700;
 line-height: 75px;
 text-align: center;
 transform: translate(270px,55px);
}

.date span {
   color:#EE2F6E;
}
.meetup{
  z-index: 2;
  position: absolute;
  color: #272125;
  font-family: BebasNeueBold;
  font-size: 68px;
  font-weight: 700;
  line-height: 82px;
  text-align: center;
  transform: translate(310px,175px);
}
